.services {
    padding-bottom: calc(10rem + 6vw);

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: $gap * 3;
        justify-content: center;

        @include breakpoint(md) {
            max-width: 96rem;
            margin: 0 auto;
            flex-direction: row;
            justify-content: center;
        }
    }

    .service {
        &__item {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: $gap;
            justify-content: center;
            align-items: center;

            @include breakpoint(md) {
                flex: 1 1 32rem;
            }
        }

        &__img-wrapper {
            max-width: 12rem;
        }

        &__text-wrapper {
            max-width: 36rem;
        }

        &__heading {
            margin-bottom: $gap;
        }

        &__text {
            font-size: 1.4rem;
            line-height: 2;
        }
    }
}